#contato {
  background: #0a0a0a;
}

.footer-container {
  max-width: 1200px;
  padding: 90px 20px 30px 20px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
  text-align: center;
}

.footer-texto span {
  color: #0aa8dd;
}

.footer-copy a {
  text-decoration: none;
  color: #0aa8dd;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  text-align: center;
}

.footer-copy a:hover {
  color: #fff;
  transition: 0.3s;
}

.footer-button {
  background-color: #0aa8dd;
}

.field > label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #0aa8dd;
}

.back-to-top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

@media (max-width: 800px) {
  .footer-contato {
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .footer-contato li {
    padding: 15px;
  }

  .footer-contato span {
    display: none;
  }

  .footer-contato img {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
  }

  .footer-contato img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
