.footer {
  background: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 90px 20px 30px 20px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
  text-align: center;
}

.footer-texto span {
  color: #67dd0a;
}

.footer-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-contato li {
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-contato a {
  text-decoration: none;
  color: #ccc;
  padding-left: 60px;
}

.footer-contato img {
  position: absolute;
  margin-top: 5px;
}
.footer-contato span {
  position: relative;
  top: 50%;
}

.footer-contato a:hover {
  color: #67dd0a;
  transition: 0.5s;
}

.footer-copy a {
  text-decoration: none;
  color: #67dd0a;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  text-align: center;
}

.footer-copy a:hover {
  color: #fff;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .footer-contato {
    grid-template-columns: 1fr;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .footer-contato li {
    padding: 15px;
  }

  .footer-contato span {
    display: none;
  }

  .footer-contato img {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
  }

  .footer-contato img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
