body {
  user-select: none;
  font-family: "Source Code Pro", monospace;
  margin: 0px;
  color: #141414;
}

body::-webkit-scrollbar {
  width: 7px;
  /* background: #0aa8dd; */
  background: #525252;
}

body::-webkit-scrollbar-thumb {
  background: #0aa8dd;
  /* background: #525252; */
  border-radius: 5px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
