nav .iconmenu {
  display: none;
  width: 40px;
  height: 40px;
  margin: 25px;
  z-index: 4;
  cursor: pointer;
  right: 16px;
  top: -15px;
}

@media (max-width: 799px) {
  nav .iconmenu {
    margin: 10px;
  }
}

@media (max-width: 540px) {
  nav .iconmenu {
    display: flex;
  }
}

@media (max-width: 490px) {
  nav .iconmenu {
    position: fixed;
  }
}

nav .iconmenu .iconopen {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 25%;
}

nav .iconmenu .iconopen span {
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #848484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .iconmenu .iconopen span:before,
nav .iconmenu .iconopen span:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  background-color: inherit;
}

nav .iconmenu .iconopen span:before {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

nav .iconmenu .iconopen span:after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

nav .iconmenu .iconopen.close {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
}

nav .iconmenu .iconopen.close span {
  background-color: #ccc;
  width: 0px;
}

nav .iconmenu .iconopen.close span:before {
  width: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

nav .iconmenu .iconopen.close span:after {
  width: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

nav .iconmenu:hover .iconopen span:before {
  width: 16px;
}

@media (max-width: 799px) {
  nav .iconmenu:hover .iconopen span:before {
    width: 20px;
  }
}

nav .iconmenu:hover .iconopen span:after {
  width: 16px;
}

@media (max-width: 799px) {
  nav .iconmenu:hover .iconopen span:after {
    width: 20px;
  }
}

nav .iconmenu:hover .iconopen.close span {
  background-color: #848484;
}

@media (max-width: 799px) {
  nav .iconmenu:hover .iconopen.close span {
    background-color: #ccc;
  }
}

nav .iconmenu:hover .iconopen.close span:before {
  width: 20px;
}

nav .iconmenu:hover .iconopen.close span:after {
  width: 20px;
}

/* TODO: menu item */
nav .nav {
  margin: 0;
  width: 100%;
  height: 97px;
  position: absolute;
  right: 0;
  top: -95px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-box-shadow: 0px -10px 20px black;
  box-shadow: 0px -10px 20px black;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*  // Menu List \\  */
}

@media (max-width: 799px) {
  nav .nav {
    top: -98px;
    height: 93px;
  }
}

nav .nav.navshow {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  top: 0;
  background-color: #111111;
}

nav .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

nav .nav .menu .menu-item {
  color: #848484;
  list-style: none;
  width: 30%;
  min-width: 60px;
  max-width: 250px;
  letter-spacing: 4px;
  height: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 799px) {
  nav .nav .menu .menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    height: 30px;
  }
}

@media (max-width: 860px) {
  /* nav .nav.navshow {
    display: flex;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    top: 0;
    background-color: #111111;
  } */
  nav .iconmenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 799px) {
  nav .nav .menu .menu-item:hover {
    letter-spacing: 2px;
    color: #848484;
  }
}

nav .nav .menu .menu-item:hover:after {
  width: 35px;
}

@media (max-width: 799px) {
  nav .nav .menu .menu-item:hover:after {
    width: 0px;
  }
}
