body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #111111;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
  height: 90px;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 100%;
  background: #111111;
  z-index: 1;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header-menu a {
  color: #ffffff;
  display: inline-block;
  padding: 16px 0px;
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #0aa8dd;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

.header-menu li {
  gap: 20px;
}

/* From uiverse.io by @menezes11 */
.btn-header {
  position: relative;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background: NONE;
  color: #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-header span {
  position: absolute;
}

.btn-header span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #aedded);
}

.btn-header:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.btn-header span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2e8eae);
}

.btn-header:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.btn-header span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #196883);
}

.btn-header:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.btn-header span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #042b38);
}

.btn-header:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.button-expand {
  display: none;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 10px;
  background: #525252;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.button-expand > i {
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #797979;
}

.button-down {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  top: 80px;
}

.title-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-header .name {
  width: 100%;
  color: white;
  font-size: 43px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.title-header .name > span {
  color: #4d4d4d;
}

.title-header .function {
  width: 100%;
  color: #a3a3a3;
  font-size: 20px;
  letter-spacing: 4px;
}

@media (max-width: 835px) {
  .header a {
    background: #161616;
    border-radius: 5px;
    padding: 8px 12px;
  }

  .header a:hover {
    background-color: #2e2e2e;
  }

  .header a:after {
    display: none;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 5px;
  }
}

@media (max-width: 860px) {
  .nav-buttons {
    display: none;
  }

  .button-expand {
    display: inherit;
  }

  .header {
    justify-content: center;
  }

  .title-header .name {
    font-size: 31px;
  }

  .title-header .function {
    font-size: 13px;
  }
}

/* navbar */
nav .nav {
  margin: 0;
  width: 100%;
  height: 80px;
  position: absolute;
  right: 0;
  top: -88px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  -webkit-box-shadow: 0px -10px 20px black;
  box-shadow: 0px -10px 20px black;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

nav .nav.navshow {
  transform: scaleY(0);
  transform-origin: top;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  top: 0;
  background-color: #111111;
}

nav .nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
}

nav .nav .menu .menu-item {
  color: #848484;
  list-style: none;
  width: 30%;
  min-width: 60px;
  max-width: 250px;
  letter-spacing: 4px;
  height: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
}

nav .nav .menu .menu-item:hover:after {
  width: 35px;
}

@media (max-width: 860px) {
  nav .nav.navshow {
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    top: 0;
    background-color: #111111;
  }
}

@media (max-width: 799px) {
  nav .nav .menu .menu-item:hover {
    letter-spacing: 2px;
    color: #848484;
  }

  nav .nav .menu .menu-item:hover:after {
    width: 0px;
  }

  nav .nav .menu .menu-item {
    font-size: 13px;
    letter-spacing: 1px;
    height: 30px;
  }
}
