@font-face {
  font-family: 'Ubuntu';
  src: url(/fonts/ubuntu.regular.ttf);
}

.introducao {
  max-width: 1200px;
  padding: 160px 20px 70px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 180px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.25;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 2rem;
  color: #525252;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 10px 30px 20px #c4c4c4;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.about-me {
  font-family: "Ubuntu";
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.about-me p {
  font-size: 40px;
}
.about-me .name {
  font-size: 90px;
}
.about-me .city span {
  font-size: 20px;
  letter-spacing: 3px;
  padding-left: 10px;
}

.about-me .city > i::before {
  font-size: 20px;
}

.img-container:hover img {
  -webkit-transform: scale(1.0);
  transform: scale(1.05);
}

/* download button  */
.button-download-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: flex-end;
}

.button-download {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: dodgerblue;
  color: white;
  border-radius: 4px;
}

.button-download:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.button-download:active {
  transform: translate(0em, 0.2em);
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .about-me p {
    font-size: 1.5rem;
  }

  .about-me .name {
    font-size: 3.5rem;
  }

  .about-me .name::before {
    width: 30px;
    height: 10px;
    top: -60px;
    left: 0px;
  }

  .about-me .city span {
    font-size: 16px;
    letter-spacing: 3px;
    padding-left: 10px;
  }

  .about-me .city > i::before {
    font-size: 16px;
  }

  .img-container img {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 690px) {
  .about-me .city span,
  .about-me .city > i::before {
    font-size: 15px;
  }
}
@media (max-width: 490px) {
  .introducao {
    grid-template-columns: 1fr;
    padding: 91px 20px 20px 20px;
  }
  .introducao img {
    display: none;
  }

  .about-me .city span {
    font-size: 16px;
    letter-spacing: 3px;
    padding-left: 10px;
  }
  .about-me .name {
    font-size: 3rem;
  }
}
